<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Agile-ḝ!</title>
    
  </head>
  <body>
     

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       
       <a class="navbar-brand text-info" href="/">Agile-ḝ</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item active">
             <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-white border-white" href="login"> Log Out</a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-muted" href="https://www.linkedin.com/in/devhamza/">linkedin</a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn border-white text-info" href="https://github.com/gcteamdev">Github</a>
             </li>
         </ul>
       </div>

    </nav>

      <div class=" jumbotron jumbotron-fluid banner d-flex border border-light rounded ml-2 mr-2 mb-5">
         
          <div class="container">
          <h3 class="text-white"> Welcome <%= name %>! to</h3>
          <h1 class="display-4 text-bold text-muted headline">Agile-ḝ!</h1>
          <p class="lead text-white">Created to simplify projects and mark the success ahead! </p>
          <button class="btn bg-primary text-white text-bold border-white mt-5 mr-3 p-2 project-btn">Create New Project</button>
          <button class="btn bg-info text-white text-bold border-white mt-5 p-2 project-btn"> View Projects</button>
          </div>

      </div>
    

      
      <style>
       .headline{
        font-size: 100px;
       }

       .jumbotron{
        background-image: linear-gradient(to right, rgba(27, 195, 228, 0.7), rgba(255, 252, 179, 0.7)), url("https://images.unsplash.com/photo-1603201667230-bd139210db18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1188&q=80");
        background-repeat: no-repeat;
        background-size:100%;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
        height:100vh;
       }
       body{
        background-color: rgb(163, 222, 202);
       }
       .project-btn{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
       }
       .scrum-card{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
        margin-top:200px;

       }
      </style>

<header class="container">
  <h1>Add project</h1>
  <form id="new-task-form">
      <input type="text" id="new-task-input" placeholder="Enter project name"/><br>
      <textarea type="text" id="new-task-textarea" placeholder="Enter description"></textarea><br>



      <select class="form-control" id="status">
          <option id="new-option" value="in-progress">In progress</option>
          <option id="new-option" value="done">Done</option>
      </select> <br>






      <input type="submit" id="new-task-submit" value="Add task" />
     

  </form>
 </header>
 
 <main>
     
     <section class="task-list container">
        <h2>Tasks</h2>
        <div id="tasks">
             
      <!-- <div class="task">
              <div class="content">

                  <input type="text" class="text" value="my shiny task" readonly />

              </div>
              <div class="actions">
                  <button class="edit">Edit</button>
                  <button class="delete">Delete</button>
              </div>
           </div>
           -->
           

        </div>
     </section>
    


 </main>






 <style>
  #tasks{
    height:100%!important; 
    background-color: brown; 
  }
  .content{
      height:500px!important;
      display:flex;
      justify-content: flex-start;
      flex-direction:column;
  }
  .actions{
      background-color: blueviolet!important;
      display: flex;
      justify-content: space-around;
  }
  .delete{
      color:crimson!important;
  }
 </style>







<!--
  <form class=" checbox container bg-light col-8 text-info mb-5 rounded scrum-card" id="todo-input">
            <div>
                <h3 class="bg-white text-center text-info text-bold mt-5 mb-2 p-2" href="#"> Scrum card</h3>
            </div>
        
            <div class="form-group">
              <lebel for="task">Project Name:</lebel>
              <input type="text" class="form-control" id="task" placeholder="build a virtual website"> 
              <lebel for="task">Sprint num:</lebel>
              <input type="number" class="form-control" id="task" placeholder="Sprint-1"> 
              <label for="exampleFormControlInput1">Github repo:</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="https://github.com/example.git">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Status:</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>To-do/new</option>
                <option>In progress</option>
                <option>Done!</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Select Sprint members:</label><br>
              <input type="checkbox" name="dev1" value="Developer 1">
            <label>Developer 1</label><br>
            <input type="checkbox" name="dev2" value="Developer 2">
            <label>Developer 2</label><br>
              <input type="checkbox" name="dev3" value="Developer 3">
            <label>Developer 3</label><br>
              <input type="checkbox" name="dev4" value="Developer 4">
            <label>Developer 4</label><br>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Project Description:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            
          </form>
-->







<div class="listed task">
  <ul class="bg-info" id="todos-list">
     <!-- <li>
          <input class="checkbox" type="checkbox">
          <p class="paragraph"> Test</p>
          <span class="remove">&cross;</span>
      </li>
      -->
      

      
  </ul>
</div>














    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
    <div class="footer bg-dark ">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active mt-5 text-info" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-info" href="/">About</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="https://github.com/gcteamdev">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="https://www.linkedin.com/in/devhamza/">Linkedin</a>
              </li>
            <li class="nav-item">
              <a class="nav-link mb-5 text-info" href="/">Contact us</a>
            </li>
        </ul>
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright- GCTeam
            <a href="#"> </a>
          </div>
    </div>
    


  <script src="jsfile.js"></script>
  </body>
</html>