<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Agylee</title>
  </head>
  <body>
     

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       
       <a class="navbar-brand text-info" href="/">Agylee</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item active">
             <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-white border-white" href="login"> Log Out</a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-muted" href="https://www.linkedin.com/in/devhamza/">linkedin</a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn border-white text-info" href="https://github.com/gcteamdev">Github</a>
             </li>
         </ul>
       </div>

    </nav>

      <div class=" jumbotron jumbotron-fluid banner d-flex border border-light rounded ml-2 mr-2 mt-5 mb-5">
         <div class="container">
          <h3 class="text-white"> Welcome <%= name %> to</h3>
          <h1 class="display-4 text-bold text-muted headline">Agyleḝ!</h1>
          <p class="lead text-white">Created to simplify projects and mark the success ahead! </p>
   </div>

      </div>
    

      
      <style>
       .banner{
        height:50vh;
       }
       .jumbotron{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
        height:100vh;
       }
       .headline{
        font-size: 100px;
       }
       .jumbotron{
        background-image: linear-gradient(to right, rgba(27, 195, 228, 0.7), rgba(255, 252, 179, 0.7)), url("https://images.unsplash.com/photo-1603201667230-bd139210db18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1188&q=80");
        background-repeat: no-repeat;
        background-size:100%;
       }
      </style>





    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
    <div class="footer bg-dark ">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active mt-5 text-info" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-info" href="/">About</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="https://github.com/gcteamdev">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="https://www.linkedin.com/in/devhamza/">Linkedin</a>
              </li>
            <li class="nav-item">
              <a class="nav-link mb-5 text-info" href="/">Contact us</a>
            </li>
        </ul>
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright- GCTeam
            <a href="#"> </a>
          </div>
    </div>
    
  </body>
</html>