<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Agile-ḝ!</title>
  </head>
  <body>
     

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       
       <a class="navbar-brand text-info" href="/">Agile-ḝ</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item active">
             <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-muted" href="register"> Register</a>
           </li>
           <li class="nav-item">
             <a class="nav-link text-muted" href="https://www.linkedin.com/in/devhamza/">linkedin</a>
           </li>
           <li class="nav-item">
               <a class="nav-link btn border-white text-info" href="https://github.com/gcteamdev">Github</a>
             </li>
         </ul>
       </div>

    </nav>

      <div class=" jumbotron jumbotron-fluid banner d-flex border border-light rounded ml-2 mr-2 mb-5">
         <div class="container">
          <h1 class="display-4  col-md-6 text-bold text-muted headline mt-4 mb-5">Agile-ḝ!</h1>
          <h4 class="text-white">A <strong class="alert-success success">secured</strong> project planner!</h4>

          <h4  class="text-muted mt-3" >Created to simplify projects,<br>...as we strive to create something
             <strong class="rw-words rw-words-1 first-portion-text-2nd ">
            
                  
                 <span> awesome!</span>
                 <span> fabulous!</span>
                 <span> interesting!</span>
                 <span> inspiring!</span>
                 <span> cool!</span>
                 <span> creative!</span>

            </strong>  
          </h4>



          <a href="register" class="btn btn-primary btn-lg active border-white  banner-btn mb-5" role="button" aria-pressed="true">Sign Up</a>
          <a href="login" class="btn btn-secondary btn-lg active border-info  ml-5 banner-btn mb-5" role="button" aria-pressed="true">Log In</a>
        </div>

      </div>
    

      
      <style>
       .banner{
        height:80vh;
       }
       .headline{
        font-size: 50px;
       }
       .jumbotron{
        background-image: linear-gradient(to right, rgba(27, 195, 228, 0.7), rgba(255, 252, 179, 0.7)), url("https://images.unsplash.com/photo-1603201667230-bd139210db18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1188&q=80");
        background-repeat: no-repeat;
        background-size:100%;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
        height:90vh;
       }
       .contact-us{
        margin:auto;
        margin-bottom:80px;
        margin-top:380px;
        border-radius: 20px 5px 30px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
       }
       .banner-btn{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px 5px;
       } 
       .banner-btn{
        margin-top:150px;
       }
       .success{
        background: none!important;
       }
      </style>




  <form class=" col col-lg-6 contact-us bg-light bordered text-center" id="contact-us" action="https://submit-form.com/W4ZjptcE" method="POST">
    <h3> Send a Pigeon</h3>
    <div class="form-group">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select inquiry</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>I just have a general question?</option>
        <option>Unable to Signup!</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    
    <button type="submit" class="btn btn-info btn-lg active mb-5">Send</button>
  </form>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->


<!--this style below is for rotating text in banner-->

<style>

   
.rw-words{
    display: inline;
    text-indent: 2px;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    color: #f1c40f;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
    color:maroon;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    color: #3498db; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    color: seagreen;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    color: #4819b6;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    color: #6b969d;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}






</style>











    <div class="footer bg-dark ">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active mt-5 text-info" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="#contact-us">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-info" href="https://github.com/gcteamdev">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-info" href="https://www.linkedin.com/in/devhamza/">Linkedin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-info" href="/">About</a>
              </li>
            
        </ul>
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright
            <a href="#"> </a>
         </div>
    </div>
    
  </body>
</html>